<nav class="navbar">
    <div class="site-title">
      <a href="/"><h1>Pen Down Thoughts</h1></a>
      <p>Share your story</p>
    </div>
    <ul>
      <li><a class="nav_item" href="/">Blogs</a></li>
      <li><a class="nav_item" href="/about">About</a></li>
      <li><a class="nav_item" href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>